In [47]:
import pandas as pd

In [69]:
df = pd.read_csv('data/train.csv')
df

,datetime,Open,High,Low,close,Volume,quote_av,trades,tb_base_av,tb_quote_av
0,2018-01-01 00:00:00,137.16,137.16,134.00,135.29,448.356199,60938.151102,5233,233.521921,31742.292816
1,2018-01-01 01:00:00,135.29,135.96,131.55,132.03,388.697006,51978.180847,4539,185.840403,24854.840552
2,2018-01-01 02:00:00,132.03,134.18,132.00,133.30,434.064572,57684.143554,4892,197.237935,26215.165628
3,2018-01-01 03:00:00,133.30,136.11,132.90,134.10,425.087030,57011.962962,4794,142.918407,19172.428559
4,2018-01-01 04:00:00,134.35,136.23,133.22,136.01,345.807329,46674.215567,4568,177.957635,24022.525818
...,...,...,...,...,...,...,...,...,...,...
54569,2024-03-28 19:00:00,705.49,709.13,704.82,707.98,1233.569390,871989.082208,82625,621.745210,439518.571710
54570,2024-03-28 20:00:00,707.98,708.75,706.19,706.73,754.731310,533942.900430,59964,357.794750,253144.400614
54571,2024-03-28 21:00:00,706.73,709.06,706.54,707.81,603.941410,427345.556770,45225,323.370640,228831.685668
54572,2024-03-28 22:00:00,707.81,708.81,705.41,708.47,789.633720,558802.030425,50729,391.559820,277113.932578
54573,2024-03-28 23:00:00,708.47,710.73,706.87,707.80,854.455750,605391.121388,60037,430.593590,305097.776542

In [64]:
df.isnull().any()

datetime       False
Open           False
High           False
Low            False
close          False
Volume         False
quote_av       False
trades         False
tb_base_av     False
tb_quote_av    False
dtype: bool

In [70]:
df.index = pd.to_datetime(df['datetime'])
df

,datetime,Open,High,Low,close,Volume,quote_av,trades,tb_base_av,tb_quote_av
datetime,,,,,,,,,,
2018-01-01 00:00:00,2018-01-01 00:00:00,137.16,137.16,134.00,135.29,448.356199,60938.151102,5233,233.521921,31742.292816
2018-01-01 01:00:00,2018-01-01 01:00:00,135.29,135.96,131.55,132.03,388.697006,51978.180847,4539,185.840403,24854.840552
2018-01-01 02:00:00,2018-01-01 02:00:00,132.03,134.18,132.00,133.30,434.064572,57684.143554,4892,197.237935,26215.165628
2018-01-01 03:00:00,2018-01-01 03:00:00,133.30,136.11,132.90,134.10,425.087030,57011.962962,4794,142.918407,19172.428559
2018-01-01 04:00:00,2018-01-01 04:00:00,134.35,136.23,133.22,136.01,345.807329,46674.215567,4568,177.957635,24022.525818
...,...,...,...,...,...,...,...,...,...,...
2024-03-28 19:00:00,2024-03-28 19:00:00,705.49,709.13,704.82,707.98,1233.569390,871989.082208,82625,621.745210,439518.571710
2024-03-28 20:00:00,2024-03-28 20:00:00,707.98,708.75,706.19,706.73,754.731310,533942.900430,59964,357.794750,253144.400614
2024-03-28 21:00:00,2024-03-28 21:00:00,706.73,709.06,706.54,707.81,603.941410,427345.556770,45225,323.370640,228831.685668
2024-03-28 22:00:00,2024-03-28 22:00:00,707.81,708.81,705.41,708.47,789.633720,558802.030425,50729,391.559820,277113.932578
2024-03-28 23:00:00,2024-03-28 23:00:00,708.47,710.73,706.87,707.80,854.455750,605391.121388,60037,430.593590,305097.776542

In [106]:
daily = df.resample("4h", axis=0).first()
daily

/tmp/ipykernel_1497984/4204077016.py:1: FutureWarning: The 'axis' keyword in DataFrame.resample is deprecated and will be removed in a future version.
  daily = df.resample("4h", axis=0).first()

,datetime,Open,High,Low,close,Volume,quote_av,trades,tb_base_av,tb_quote_av
datetime,,,,,,,,,,
2018-01-01 00:00:00,2018-01-01 00:00:00,137.16,137.16,134.00,135.29,448.356199,6.093815e+04,5233.0,233.521921,31742.292816
2018-01-01 04:00:00,2018-01-01 04:00:00,134.35,136.23,133.22,136.01,345.807329,4.667422e+04,4568.0,177.957635,24022.525818
2018-01-01 08:00:00,2018-01-01 08:00:00,135.70,137.35,134.00,135.00,276.813553,3.751824e+04,3738.0,127.809696,17326.480236
2018-01-01 12:00:00,2018-01-01 12:00:00,132.20,133.00,130.56,131.72,265.492708,3.501757e+04,3623.0,120.163640,15852.777164
2018-01-01 16:00:00,2018-01-01 16:00:00,132.47,132.47,129.66,130.18,372.393566,4.886271e+04,4009.0,189.967309,24929.308424
...,...,...,...,...,...,...,...,...,...,...
2024-03-28 04:00:00,2024-03-28 04:00:00,692.89,697.64,692.79,697.17,1042.410410,7.246380e+05,48307.0,568.138160,394960.568902
2024-03-28 08:00:00,2024-03-28 08:00:00,703.98,708.65,702.92,705.77,2230.979500,1.573614e+06,84436.0,1188.642300,838421.342804
2024-03-28 12:00:00,2024-03-28 12:00:00,706.46,708.50,703.48,708.38,1594.022550,1.126543e+06,81776.0,768.319570,543012.463556
2024-03-28 16:00:00,2024-03-28 16:00:00,712.90,713.19,705.21,706.86,1924.667980,1.365667e+06,88564.0,865.805230,614359.915992
2024-03-28 20:00:00,2024-03-28 20:00:00,707.98,708.75,706.19,706.73,754.731310,5.339429e+05,59964.0,357.794750,253144.400614

In [107]:
daily = daily.dropna()

In [108]:
daily.to_csv("data/hour4.csv", index=False)

In [111]:
df = pd.read_csv("data/hour4.csv")

hour = 4
num_test_data = 10
df = df.iloc[df.last_valid_index() - int(63 * 24 / hour) - num_test_data + 1 :]
df

,datetime,Open,High,Low,close,Volume,quote_av,trades,tb_base_av,tb_quote_av
13270,2024-01-24 08:00:00,399.81,401.37,398.59,399.54,1330.22092,5.318788e+05,53820.0,616.44262,246490.655826
13271,2024-01-24 12:00:00,402.09,402.98,399.75,400.29,1668.46694,6.695426e+05,98841.0,743.29550,298289.745023
13272,2024-01-24 16:00:00,400.50,401.90,399.23,401.90,1605.34595,6.435758e+05,64301.0,807.56047,323757.238307
13273,2024-01-24 20:00:00,398.03,400.00,395.11,395.44,1931.08163,7.669367e+05,87108.0,959.52319,381088.400514
13274,2024-01-25 00:00:00,400.84,401.78,400.12,401.70,1014.56617,4.069734e+05,39551.0,554.31186,222360.465533
...,...,...,...,...,...,...,...,...,...,...
13653,2024-03-28 04:00:00,692.89,697.64,692.79,697.17,1042.41041,7.246380e+05,48307.0,568.13816,394960.568902
13654,2024-03-28 08:00:00,703.98,708.65,702.92,705.77,2230.97950,1.573614e+06,84436.0,1188.64230,838421.342804
13655,2024-03-28 12:00:00,706.46,708.50,703.48,708.38,1594.02255,1.126543e+06,81776.0,768.31957,543012.463556
13656,2024-03-28 16:00:00,712.90,713.19,705.21,706.86,1924.66798,1.365667e+06,88564.0,865.80523,614359.915992
13657,2024-03-28 20:00:00,707.98,708.75,706.19,706.73,754.73131,5.339429e+05,59964.0,357.79475,253144.400614

In [110]:
df["close"].isnull().any()

False

In [1]:
import numpy as np

def sliding_window(data, window_size, future_steps):
    """
    Sliding window 함수.
    
    Parameters:
        - data: 시계열 데이터 (리스트 또는 배열)
        - window_size: 한 창의 크기
        - future_steps: 예측할 미래의 시간 간격 (window 단위)
        
    Returns:
        - forecasts: 주어진 데이터에 대한 미래 예측
    """
    forecasts = []
    
    # 시작 인덱스 설정
    start_index = 0
    
    # 마지막 인덱스 계산
    end_index = len(data) - window_size + 1
    
    # future_steps 만큼 반복하여 예측 수행
    for _ in range(future_steps):
        # 현재 창에서 종가 가져오기
        window_data = data[start_index:start_index+window_size]
        close_prices = [row[-1] for row in window_data]
        
        # 다음 창 예측
        next_forecast = np.mean(close_prices)
        forecasts.append(next_forecast)
        
        # 다음 창으로 이동
        start_index += 1
    
    return forecasts

# 예시 데이터
time_series_data = [
    [1, 2, 3, 4],  # 시간 1
    [2, 3, 4, 5],  # 시간 2
    [3, 4, 5, 6],  # 시간 3
    # 이하 계속...
]

# sliding window 함수 호출
window_size = 336  # 336시간
future_steps = 63  # 63일
forecasts = sliding_window(time_series_data, window_size, future_steps)

print("63일 동안의 종가 예측:")
print(forecasts)

63일 동안의 종가 예측:
[5.0, 5.5, 6.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

/home/ssel/anaconda3/envs/titan/lib/python3.12/site-packages/numpy/core/fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/ssel/anaconda3/envs/titan/lib/python3.12/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)